body {
    background-color: #F4F5F5;
    font-family: "Arial", Helvetica, sans-serif;
}

.container, .row {
    width: 100%;
    background-color: #F4F5F5;
}

.row {
    margin-bottom:1em;
}

h1, p {
    margin: 1em 0;
}
span {
    display: block;
}

th {
    font-size: 1.1em;
}

td {
    padding: 0.5em;
}

/*Knapper og dropdown stil/farge*/
.knapp {
    padding: 0.1em 2em;
    font-size: 1.3em;
    min-height: 3em;
    min-width: 9em;
    border: none;
}
.knappUtseende {
    background-color: white;
    color: black;
}
.selectUtseende {
    padding: 0.3em;
    font-size: 1.2em;
    height: 3em;
    width: 100%;
    border: 2px solid #224652;
    position: relative;
}

button:hover {
    opacity: 0.7;
}

/*tar bort default pil i IE, mozilla og chrome*/
select::-ms-expand {
    display: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
/*Stil på ulike knapper*/
#retur {
    background-color: lightgrey;
    color: black;
}

#bekreft {
    background-color: #224652;
    color: white;
}

#sok, #lukk {
    background-color: #224652;
    color: white;
    padding: 0.3em;
    font-size: 1.2em;
    height: 3em;
    width: 100%;
    border: none;
}
/*trikset til at tekst over søk knapp ikke synes*/
#sokReise p{
    color: white;
}


#indextekst {
    color: deepskyblue;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    font-size: 10em;
}


#bekreftetTilFraSted {
    position: relative;
}

input[type=radio] {
    width:30px;
    height:30px;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {
        color: deepskyblue;
    }

    to {
        color: cornflowerblue;
    }
}

/* Standard syntax */
@keyframes example {
    from {
        color: deepskyblue;
    }

    to {
        color: cornflowerblue;
    }
}

ul {
    list-style-type: none;
}

