body {
    background-color: #F4F5F5;
    font-family: "Arial", Helvetica, sans-serif;
}

.container, .row {
    width: 100%;
    background-color: #F4F5F5;
}

.row {
    margin-bottom:1em;
}

h1, p {
    margin: 1em 0;
}

span {
    display: block;
}

.Option {
    margin-top: 1em;
    margin-bottom: 1em;
}

.selectUtseende {
    padding: 0.3em;
    font-size: 1.2em;
    height: 3em;
    width: 100%;
    border: 2px solid #224652;
    position: relative;
    background-color: white;
    color: black;
}

.tekstFelt {
    padding: 0.3em;
    font-size: 1.2em;
    height: 2.5em;
    width: 100%;
    border: 2px solid #224652;
    position: relative;
    background-color: white;
    color: black;
}

/*tar bort default pil*/
select::-ms-expand {
    display: none;
}

tr {
    margin:3em;
}
th {
    font-size: 1.1em;
}

td {
    padding: 2em;
}

.knapp {
    padding: 0.1em 2em;
    font-size: 1.3em;
    min-height: 3em;
    min-width: 9em;
    border: none;
}
    
    .knapp:hover {
        opacity: 0.8;
    }

#sok {
    padding: 0.3em;
    font-size: 1.2em;
    height: 3em;
    width: 100%;
    border: none;
}
.usynlig {
    color: white;
}

#retur, #tilbake {
    background-color: lightgrey;
    color: black;
}

#bekreft, #registrer, #sok, #bekreftBetaling {
    background-color: #224652;
    color: white;
}
.BekreftelseKundeInfoDiv {
    color: #1B576B;
    display: block;
    font-size: 1.3em;
}
.BekreftelsesDivBoks {
    display: inline-block;
    max-width: 40%;
    margin-right: 10%;
    background-color: #3C6C7C;
    color: white;
    padding: 3.4em;
    margin-top: 5%;
}
    .BekreftelsesDivBoks td {
        padding: 1em;
        font-size: 1.3em;
    }
.BekreftelsesDivBoks th {
    padding: 0.2em;
    padding-right: 2.5em;
}
    .BekreftelsesDivBoks h4 {
        border-bottom: 1px solid white;
        padding-bottom: 0.2em;
    }

a, a:hover {
    text-decoration: none;
    color:black;
}

#indextekst {
    color: deepskyblue;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    font-size: 10em;
}

input[type=radio] {
    width: 30px;
    height: 30px;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {
        color: deepskyblue;
    }

    to {
        color: cornflowerblue;
    }
}

/* Standard syntax */
@keyframes example {
    from {
        color: deepskyblue;
    }

    to {
        color: cornflowerblue;
    }
}

ul {
    list-style-type: none;
}

