body {
    background-color: #F4F5F5;
    font-family: "Arial", Helvetica, sans-serif;
    width:100%;
}
.navbar {
    color: #FFFFFF;
    background-color: #DBDCDC;
    /*background-color: #224652;*/
    border-bottom: solid 2px #224652;
}
.navbar a{
    color: black;
    font-size: 1.2em;
}
.navbar-brand {
    font-size: 1em;
    background-color: #224652;
}
.navbar-header a{
    color: white;
}
.active {
    background-color: #DBDCDC;
    color:red;
}
/*.logoTusimaka {
    opacity: 0;
}

.logoTusimaka:target {
        -webkit-transition: opacity 2.0s ease-in;
        -moz-transition: opacity 2.0s ease-in;
        -o-transition: opacity 2.0s ease-in;
        opacity: 1;
    }*/

.container, .row {
    width: 100%;
    background-color: #F4F5F5;
}

.row {
    margin-bottom:1em;
}

h1, p {
    margin: 1em 0;
}

h2 {
    display: inline-block;
}

span {
    display: block;
}

.Option {
    margin-top: 1em;
    margin-bottom: 1em;
}

.selectUtseende {
    padding: 0.3em;
    font-size: 1.2em;
    height: 3em;
    width: 100%;
    border: 2px solid #224652;
    position: relative;
    background-color: white;
    color: black;
}

.tekstFelt {
    padding: 0.3em;
    font-size: 1.2em;
    height: 2.5em;
    border: 2px solid #224652;
    position: relative;
    background-color: white;
    color: black;
}

.fullStrl {
    width: 100%;
}

/*tar bort default pil*/
select::-ms-expand {
    display: none;
}

tr {
    margin:3em;
}
    th {
        font-size: 1.1em;
    }

    td {
        padding: 2em;
    }

.knapp {
    padding: 0.1em 2em;
    font-size: 1.3em;
    min-height: 3em;
    min-width: 9em;
    border: none;
    margin-top: 0.4em;
}
    
    .knapp:hover {
        opacity: 0.8;
    }

#sok {
    padding: 0.3em;
    font-size: 1.2em;
    height: 3em;
    width: 100%;
    border: none;
}

.usynlig {
    color: white;
}

#retur, #tilbake {
    background-color: lightgrey;
    color: black;
}

/*div#VisAntallPers{
    display: inline-block;
}*/

#utlopscvc td{
    padding: 0;
    padding-right: 1.2em;
}

.maxWidth100 {
    max-width: 100%
}
.maxWidth58 {
    max-width: 58%;
}

#bekreft, #registrer, #sok, #bekreftBetaling, #loggInn, #create, #lagreFlyrute, #lagreKunde {
    background-color: #224652;
    color: white;
}

.BekreftelseKundeInfoDiv {
    color: #1B576B;
    display: block;
    font-size: 1.3em;
}
    .BekreftelseKundeInfoDiv td{
        padding-left: 0em;
    }
        
.BekreftelsesDivBoks {
    display: inline-block;
    max-width: 40%;
    min-width: 25em;
    margin-right: 10%;
    background-color: #3C6C7C;
    color: white;
    padding: 3.4em;
    margin-top: 2%;
}
    .BekreftelsesDivBoks td {
        padding: 1em;
        font-size: 1.3em;
    }
    .BekreftelsesDivBoks th {
        padding: 4%;
        padding-right: 3em;
    }
    .BekreftelsesDivBoks h4 {
        border-bottom: 1px solid white;
        padding-bottom: 1%;
    }

input[type=radio] {
    width: 30px;
    height: 30px;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.adminStartKnapp a,
.adminStartKnapp a:hover, .adminStartKnapp a:focus {
    color: white;
    text-decoration: none;
    padding: 1.5em 0em;
    width:100%;
}
.adminStartKnapp .knapp {
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: 1em;
    min-height: 3em;
    min-width: 9em;
    max-width: 17em;
    padding: 1em 2em;
    background-color: #224652;
    color: white;
}
    .adminStartKnapp .knapp:hover {
        opacity:0.7;
    }
    .adminStartKnapp .knapp a {
        color: white;
        text-decoration:none;
    }

p.fyll_inn_skjema{
    display: inline-block;
    margin-right: 3%;
}

.tabKnapp{
    font-size: 1.1em;
    margin:0.3em;
}

.miniKnapp, .loggUt {
    font-size: 1em;
    color: white;
    min-height: 1.5em;
    min-width: 4em;
    max-width: 12em;
    padding: 0.5em 0.5em;
    color: black;
    display: inline-block;
    text-align: center;
}
    .miniKnapp:hover {
        opacity:0.4;
    }

.miniKnapp a {
        text-decoration:none;
    }

.endre, .endre a {
    color: black;
    background-color: #A8B8BD;
}

.slett, .slett a, #sletteFlyruteModalKnapp, #sletteKundeBestillingModalKnapp, #sletteModalKnapp {
    background-color: #B62B32;
    color: white;
}

.add, .add a {
    background-color: #224A57;
    color: white;
}

.detaljer, .detaljer a {
    background-color: #05222C;
    color: white;
}

.miniMenyKnapp {
    font-size: 1em;
    color: white;
    min-height: 1.5em;
    min-width: 7em;
    max-width: 12em;
    padding: 0.8em 0.5em;
    background-color: #224652;
    margin: 1em 1em 1em 0em;
    display: inline-block;
    text-align: center;
}
    .miniMenyKnapp a {
        color:white;
        text-decoration:none;
    }
        .miniMenyKnapp:hover {
            opacity: 0.7;
        }

.valg .knapp {
    font-size: 1em;
    display: inline-block;
    text-align: center;
    padding: 0.7em 2em;
    font-size: 1.3em;
    min-height: 3em;
    min-width: 9em;
    max-width: 9em;
    border: none;
    background-color: lightgrey;
}
    .knapp a {
        text-decoration: none;
        color: black;
    }

.loggUt {
    float: right;
    clear: left;
    margin-top: 2em;
    background-color: #DBE2E4;
    border: none;
    margin: 1em 1em 1em 0em;
    text-decoration: none;
    min-width: 8em;
}
    .loggUt a {
        color: black;
        text-decoration: none;
    }
    .loggUt:hover {
        opacity:0.4;
    }
