body {
    background-color: #F4F5F5;
    font-family: "Arial", Helvetica, sans-serif;
}

.container, .row {
    width: 100%;
    background-color: #F4F5F5;
}

.row {
    
}

h1, p {
    margin: 1em 0;
}
span {
    display: block;
}

.Option {
    margin-top: 1em;
    margin-bottom: 1em;
}

.tekstFelt {
    width: 200%;
    height: 3em;
    padding: 1em;
    font-size: 1.2em;
    border-bottom: 0.125em solid #D6EBF2;
    border-right: 0.125em solid #D6EBF2;
}

    .tekstFelt:hover {
        border: 2px solid grey
    }

    .tekstFelt:focus {
        border: 2px solid grey;
        border-radius: 5px;
    }

td {
    padding: 0.5em;
}

#bestill {
    border: none;
    color: white;
    letter-spacing: 1px;
    background-color: #022E3C;
    width: 200%;
    height: 3em;
    font-size: 1.2em;
    text-align: center;
    margin-top: 2em;
}

    #bestill:hover {
        opacity: 0.8;
    }

/*Knapper og dropdown stil/farge*/
.knappUtseende {
    background-color: white;
    color: black;
}
.selectUtseende {
    padding: 0.3em;
    font-size: 1.2em;
    height: 3em;
    width: 100%;
    border: 2px solid #224652;
    position: relative;
}

/*tar bort default pil*/
select::-ms-expand {
    display: none;
}

/*størrelse på divene til Til og Fra select*/



.knapp {
    padding: 0.1em 2em;
    font-size: 1.3em;
    min-height: 3em;
    min-width: 9em;
    border: none;
}

#retur {
    background-color: lightgrey;
    color: black;
}

#bekreft {
    background-color: #224652;
    color: white;
}

button:hover {
    opacity:0.7;
}

#indextekst {
    color: deepskyblue;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    font-size: 10em;
}


#bekreftetTilFraSted {
    position: relative;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {
        color: deepskyblue;
    }

    to {
        color: cornflowerblue;
    }
}

/* Standard syntax */
@keyframes example {
    from {
        color: deepskyblue;
    }

    to {
        color: cornflowerblue;
    }
}

ul {
    list-style-type: none;
}
    