body {
    background-color: #F4F5F5;
    font-family: "Arial", Helvetica, sans-serif;
}

.container, .row {
    width: 100%;
    background-color: #F4F5F5;
}

.row {
    margin-bottom:1em;
}

h1, p {
    margin: 1em 0;
}

span {
    display: block;
}

.Option {
    margin-top: 1em;
    margin-bottom: 1em;
}

.selectUtseende {
    padding: 0.3em;
    font-size: 1.2em;
    height: 3em;
    width: 100%;
    border: 2px solid #224652;
    position: relative;
    background-color: white;
    color: black;
}

.selectUtseendeAdmin {
    padding: 0.3em;
    font-size: 1.2em;
    height: 3em;
    width: 100%;
    border: 2px solid #235945;
    position: relative;
    background-color: white;
    color: black;
}

.tekstFelt {
    padding: 0.3em;
    font-size: 1.2em;
    height: 2.5em;
    border: 2px solid #224652;
    position: relative;
    background-color: white;
    color: black;
}

.tekstFeltAdmin {
    padding: 0.3em;
    font-size: 1.2em;
    height: 2.5em;
    border: 2px solid #235945;
    position: relative;
    background-color: white;
    color: black;
}

.fullStrl {
    width: 100%;
}

/*tar bort default pil*/
select::-ms-expand {
    display: none;
}

tr {
    margin:3em;
}
th {
    font-size: 1.1em;
}

td {
    padding: 2em;
}
.knapp {
    padding: 0.1em 2em;
    font-size: 1.3em;
    min-height: 3em;
    min-width: 9em;
    border: none;
    margin-top: 0.4em;
}
    
    .knapp:hover {
        opacity: 0.8;
    }


#sok {
    padding: 0.3em;
    font-size: 1.2em;
    height: 3em;
    width: 100%;
    border: none;
}
.usynlig {
    color: white;
}
#retur, #tilbake {
    background-color: lightgrey;
    color: black;
}
/*div#VisAntallPers{
    display: inline-block;
}*/
#utlopscvc td{
    padding: 0;
    padding-right: 1.2em;
}
.maxWidth100 {
    max-width: 100%
}
.maxWidth58 {
    max-width: 58%;
}
#bekreft, #registrer, #sok, #bekreftBetaling {
    background-color: #224652;
    color: white;
}

#loggInn, #create {
    background-color: #235945;
    color: white;
}

.BekreftelseKundeInfoDiv {
    color: #1B576B;
    display: block;
    font-size: 1.3em;
}
.BekreftelseKundeInfoDiv td{
    padding-left: 0em;
}
.BekreftelsesDivBoks {
    display: inline-block;
    max-width: 40%;
    min-width: 25em;
    margin-right: 10%;
    background-color: #3C6C7C;
    color: white;
    padding: 3.4em;
    margin-top: 2%;
}
    .BekreftelsesDivBoks td {
        padding: 1em;
        font-size: 1.3em;
    }
.BekreftelsesDivBoks th {
    padding: 4%;
    padding-right: 3em;
}
    .BekreftelsesDivBoks h4 {
        border-bottom: 1px solid white;
        padding-bottom: 1%;
    }

#indextekst {
    color: #224652;
    -webkit-animation-name: tusimaka;
    -webkit-animation-duration: 4s;
    animation-name: tusimaka;
    animation-duration: 10s;
    font-size: 10em;
}

input[type=radio] {
    width: 30px;
    height: 30px;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

@-webkit-keyframes tusimaka {
    from {
        color: #F4F5F5;
    }

    to {
        color: #224652;
    }
}


ul {
    list-style-type: none;
    margin-top: 4em;
    margin-bottom:4em;
}
.adminStartKnapp a,
.adminStartKnapp a:hover, .adminStartKnapp a:focus {
    color: white;
    text-decoration: none;
    padding: 1.5em 0em;
    width:100%;
}
.adminStartKnapp li {
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom:1em;
    color: white;
    min-height: 3em;
    min-width: 9em;
    max-width: 17em;
    padding: 1em 2em;
    background-color: #235945;
    border-radius: 0px 0px 40px 0px;
}

    .adminStartKnapp li:hover {
        border-radius: 0px 40px 40px 0px;
    }
