body {
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

.container .Rad {
    background-color: #eee;
    color: #022E3C;
}

.container {
    width: 85%;
}

span {
    display: block;
}

.Option {
    margin-top: 1em;
    margin-bottom: 1em;
}

.tekstFelt {
    width: 200%;
    height: 3em;
    padding: 1em;
    font-size: 1.2em;
    border-bottom: 0.125em solid #D6EBF2;
    border-right: 0.125em solid #D6EBF2;
}

    .tekstFelt:hover {
        border: 2px solid grey
    }

    .tekstFelt:focus {
        border: 2px solid grey;
        border-radius: 5px;
    }

td {
    padding: 0.5em;
}

.plussminus {
    border: 1px solid grey;
    border-right: none;
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    text-align: center;
    display: inline-block;
}

#barn, #voksne {
    border-right: none;
    border-left: none;
    float: left;
}

#minusBarn, #minusVoksen {
    border-right: none;
    float: left;
    background-color: #D6EBF2;
}

#plussBarn, #plussVoksen {
    border-left: none;
    border-right: 1px solid grey;
    background-color: #D6EBF2;
}

#bestill {
    border: none;
    color: white;
    letter-spacing: 1px;
    background-color: #022E3C;
    width: 200%;
    height: 3em;
    font-size: 1.2em;
    text-align: center;
    margin-top: 2em;
}

    #bestill:hover {
        opacity: 0.8;
    }

    .tilFraSelect{
        color: red;
    }

#infotekst {
    color: purple;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
-webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
animation-name: example; 
animation-duration: 10s;
font-size: 10em;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {
        color: red;
    }

    to {
        color: purple;
    }
}

/* Standard syntax */
@keyframes example {
    from {
        color: red;
    }

    to {
        color: purple;
    }
}
    