@{
    ViewBag.Title = "AdminStart";
}
<html>
    <head>
        <link href="~/Content/StyleSheet.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-3.2.1.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                // Viser navbar-knappene kun når Admin er logget inn.
                $(".navbar-nav").removeAttr("hidden");

                // Gjør om logginn-knapp til loggut-knapp.
                $(".loggInnUt").attr("href", "/Admin/LoggUt");
                $(".loggInnUt").text("LOGG UT");

                // Gir den aktive siden en active-klasse med styling som markerer.
                $(".navbar").find(".active").removeClass("active");
                $(".hjem").addClass("active");
            });
        </script>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Velkommen, admin!</h2>
                </div>
            </div>
            <div class="row header-spacing">
                <div class="col-lg-12">
                    <div class="MenyKnapp">@Html.ActionLink("Administrer Kunder", "KundeAdministrer")</div>
                    <div class="MenyKnapp">@Html.ActionLink("Administrer Flyruter", "FlyruterAdministrer")</div>
                </div>
            </div>
        </div>

    </body>
</html>