@{
    ViewBag.Title = "AdminStart";
}
<link href="~/Content/StyleSheet.css" rel="stylesheet" />
<div class="container">
    <div class="row loggUtKnapp">
        <h2>Velkommen, admin!</h2>
        <span class="loggUt">@Html.ActionLink("LOGG UT", "LoggUt")</span>
    </div>
    <hr />
    <div class="adminStartKnapp">
        <span class="knapp">@Html.ActionLink("Administrer Kunder", "KundeAdministrer")</span>
        <span class="knapp">@Html.ActionLink("Administrer Flyruter", "FlyruterAdministrer")</span>
        <span class="knapp">Se databaselogg</span>
    </div>
</div>