
@{
    ViewBag.Title = "AdminStart";
}

<h2>Velkommen, admin!</h2>
<h3>Hva vil du gjøre?</h3>
<ul>
    <li>@Html.ActionLink("Administrer Kunder", "KundeAdministrer")</li>
    <li>@Html.ActionLink("Administrer flyruter", "FlyruterAdministrer")</li>
    <li>Se databaselogg</li>
</ul>
    <p style="color:blue">Logget inn</p>
                    <div>
                        @Html.ActionLink("Back to List", "Index") <br />
                        
                    </div>

