@{
    ViewBag.Title = "AdminStart";
}
<html>
    <head>
        <link href="~/Content/StyleSheet.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-3.2.1.min.js"></script>
        <script type="text/javascript">
            @*if (@ViewBag.Innlogget) 
            {*@
                $(document).ready(function () {
                    //$(".navbar-nav").removeAttr("hidden");
                    //$(".loggUt").removeAttr("hidden");
                    $(".navbar").find(".active").removeClass("active");
                    $(".hjem").addClass("active");
                });
            //}
        </script>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Velkommen, admin!</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr />
                    <div class="adminStartKnapp">
                        <span class="knapp">@Html.ActionLink("Administrer Kunder", "KundeAdministrer")</span>
                        <span class="knapp">@Html.ActionLink("Administrer Flyruter", "FlyruterAdministrer")</span>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>