
@{
    ViewBag.Title = "AdminStart";
}
<link href="~/Content/StyleSheet.css" rel="stylesheet" />
<h2>Velkommen, admin!</h2>
<hr/>
<div class="adminStartKnapp">
    <span class="knapp">@Html.ActionLink("Administrer Kunder", "KundeAdministrer")</span>
    <span class="knapp">@Html.ActionLink("Administrer flyruter", "FlyruterAdministrer")</span>
    <span class="knapp">Se databaselogg</span>
</div>
    <p style="color:blue">Logget inn</p>

