
@{
    ViewBag.Title = "KundeBestillinger1";
}
<script type="text/javascript">
    $(document).ready(function () {

        // hent alle fraFlyplass, bygg opp dropdown1 når siden lastes
        $.ajax({
            url: '/Admin/hentFlybestillinger',
            type: 'GET',
            dataType: 'json',
            success: function (hentflyplasser) {
                hentFlybestillinger(hentflyplasser);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });

        // viser fra-steder i dropdown
        function hentFlybestillinger(hentflyplasser) {
            var utStreng = "";
            for (var i in hentflyplasser) {
                utStreng += hentflyplasser[i] +" ";
            }
            $("#divboks").empty().append(utStreng);
        }
    });
</script>

<h2>KundeBestillinger1</h2>
<p id="divboks"></p>

