<div id="sletteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Bekreft sletting</h4>
            </div>
            <div class="modal-body">
                <p>Vennligst bekreft at følgende kunde skal slettes:</p>
                <div class="text-danger" id="slettKunde">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Lukk</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="sletteModalKnapp">Slett</button>
            </div>
        </div>
    </div>
</div>

