@model Tusimaka.Models.Kunder

@{
    ViewBag.Title = "Bekreftelse";
}
<link href="@Url.Content("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(document).ready(function () {
            // henter siste bestilling, vises når siden lastes
            $.ajax({
                url: '/Home/hentBestilling',
                type: 'GET',
                dataType: 'json',
                success: function (finnStrekninger) {
                    VisValgtStrekning(finnStrekninger);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
            //viser ut informasjon om siste bestilling
            function VisValgtStrekning(finnStrekninger) {
                var utStreng = "<table><tr><h4>BESTILT TUR</h4></tr>";
                utStreng += "<tr><th>FRA FLYPLASS</th><td>" + finnStrekninger.fraFlyplass + "</td></tr>";
                utStreng += "<tr><th>TIL FLYPLASS</th><td>" + finnStrekninger.tilFlyplass + "</td></tr>";
                utStreng += "<tr><th>DATO</th><td>" + finnStrekninger.dato + "</td></tr>";
                utStreng += "<tr><th>TIDSPUNKT</th><td>" + finnStrekninger.tid + "</td></tr>";
                utStreng += "<tr><th>PRIS</th><td>" + finnStrekninger.pris + " NOK</td></tr>";
                utStreng += "<tr><th>REISETID</th><td>" + finnStrekninger.flyTid + " min</td></tr>";
                utStreng += "</table>";
                $("#VisTur").empty().append(utStreng);
            }

            // hent alle retur, vises når siden lastes om retur er valgt
            $.ajax({
                url: '/Home/hentRetur',
                type: 'GET',
                dataType: 'json',
                success: function (finnRetur) {
                    VisEvtRetur(finnRetur);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });

            // Viser returinformasjon om retur er valgt
            function VisEvtRetur(finnRetur) {
                if (finnRetur.fraFlyplass != null) {
                    var utStreng = "<table><tr><h4>RETUR</h4></tr>";
                    utStreng += "<tr><th>FRA FLYPLASS</th><td>" + finnRetur.fraFlyplass + "</td></tr>";
                    utStreng += "<tr><th>TIL  FLYPLASS</th><td>" + finnRetur.tilFlyplass + "</td></tr>";
                    utStreng += "<tr><th>DATO</th><td>" + finnRetur.dato + "</td></tr>";
                    utStreng += "<tr><th>TIDSPUNKT</th><td>" + finnRetur.tid + "</td></tr>";
                    utStreng += "<tr><th>PRIS</th><td>" + finnRetur.pris + " NOK</td></tr>";
                    utStreng += "<tr><th>REISETID</th><td>" + finnRetur.flyTid + " min</td></tr>";
                    utStreng += "</table>";
                    $("#VisRetur").empty().append(utStreng);
                    $("#VisRetur").show();
                } else {
                    $("#VisRetur").hide();
                }
            }
            //henter referansenummer(flyBestillingsID) på siste bestilling
            $.ajax({
                url: '/Home/hentReferanseNR',
                type: 'GET',
                dataType: 'json',
                success: function (finnRefNr) {
                    VisRefNr(finnRefNr);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });

            // Viser referansenummer på siste bestilling
            function VisRefNr(finnRefNr) {
                var utStreng = "<table><tr><td>Her er ditt referansenummer</td>";
                utStreng += "<th>" + finnRefNr.flyBestillingsID + "</th></tr></table>";
                $("#VisBekreftelsesNR").empty().append(utStreng);
                $("#VisBekreftelsesNR").show();
            }
    });

    
</script>
    <div class="BekreftelseKundeInfoDiv">
        <h2>Bekreftelse</h2>
        <p>Takk for din bestilling @Model.fornavn  @Model.etternavn</p>
        <div id="VisBekreftelsesNR"></div>
    </div>
    <div id="VisTur" class="BekreftelsesDivBoks"></div>
    <div id="VisRetur" class="BekreftelsesDivBoks"></div>
    <form action="/Home/Bestill">
        <input type="submit" value="Bestill ny flytur her" class="knapp" id="bekreft" />
    </form>
<a href="/Home/Admin/KundeAdministrer">Her</a>