@{
    ViewBag.Title = "Bestill flybillett";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="@Url.Content("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {

            // hent alle fraFlyplass, bygg opp dropdown1 når siden lastes
            
            $.ajax({
                url: '/Home/hentAlleFraFlyplasser',
                type: 'GET',
                dataType: 'json',
                success: function (fraListe) {
                    VisDropDown1(fraListe);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });

            function VisDropDown1(fraListe) {
                var utStreng = "";
                utStreng += "<option value='' selected disabled>Velg</option>"; 
                for (var i in fraListe) {
                    utStreng += "<option value='" + fraListe[i] + "'>" + fraListe[i] + "</option>";
                }
                $("#drop1").empty().append(utStreng);
            }

            $("#drop1").change(function () {
                var fraFlyplassVerdi = $(this).val();
                $.ajax({
                    url: '/Home/hentTilFlyplasser',
                    type: 'GET',
                    data: { fraFlyPlass: fraFlyplassVerdi },
                    dataType: 'json',
                    success: function (tilListe) {
                        VisDropDown2(tilListe);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });

                $("#drop2").removeAttr("disabled"); 
                $("#dropDown2").show();
            });

            function VisDropDown2(tilListe) {
                var utStreng = "";
                utStreng += "<option value='' selected disabled>Velg</option>";  
                for (var i in tilListe) {
                    utStreng += "<option value='" + tilListe[i] + "'>" + tilListe[i] + "</option>";
                }
                $("#drop2").empty().append(utStreng);
            }

            // opprett en hendelse på dropdown-listen valgtFlyplass når siden lastes
            $("#drop2").change(function () {
                              
                $("#returKnapp").removeAttr("disabled");
                $("#tilDato").removeAttr("disabled");
                $("#turDato").show();
            });

            $("#tilDato").change(function () {
                
                $("#personValg").show();
                $("#antallPersoner").removeAttr("disabled");
            });

            $("#personValg").change(function () {
                var valgtFraFlyplass = $("#drop1").val();
                var valgtTilFlyplass = $("#drop2").val();

                $.ajax({
                    url: '/Home/hentStrekning',
                    type: 'GET',
                    data: {
                        fraFlyPlass: valgtFraFlyplass,
                        tilFlyPlass: valgtTilFlyplass
                    },
                    dataType: 'json',
                    success: function (strekninger) {
                        VisStrekninger(strekninger);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });

                $("#bekreftetTilFraSted").show(); //må inn etter valgt antall personer.
                $("#bekreft").removeAttr("disabled");
                $("#retur").removeAttr("disabled");
            })

            $("#retur").click(function () {

                $("#returDato").show();
                $("#fraDato").removeAttr("disabled");
                $("#retur").hide();
            });

            $("#fraDato").change(function () {
                var valgtFraFlyplass = $("#drop1").val();
                var valgtTilFlyplass = $("#drop2").val();

                $.ajax({
                    url: '/Home/hentStrekning',
                    type: 'GET',
                    data: {
                        fraFlyPlass: valgtFraFlyplass,
                        tilFlyPlass: valgtTilFlyplass
                    },
                    dataType: 'json',
                    success: function (retur) {
                        VisRetur(retur);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });

                $("#bekreftetTilFraSted").show(); //må inn etter valgt antall personer.
                $("#bekreft").removeAttr("disabled");
                $("#retur").removeAttr("disabled");
            })
            
            function VisStrekninger(strekninger) {
                var utStreng = "<table class='table'><tr><th>Fra</th><th>Til</th><th>Dato</th><th>Tid</th><th>Pris</th><th>Ledige seter</th><th>Velg</th></tr>";
                for (var i in strekninger) {
                    utStreng += "<tr><td>" + strekninger[i].fraFlyplass + "</td><td>" + strekninger[i].tilFlyplass +
                        "</td><td>" + strekninger[i].dato + "</td><td>" + strekninger[i].tid + "</td><td>" + strekninger[i].pris +
                        "</td><td>" + strekninger[i].antallLedigeSeter + "</td><td><button type='button' class='' id='velgKnapp'>Velg</button></td><tr/>";
                }
                utStreng += "</table>"
                $("#strekninger").empty().append(utStreng);
            }

            function VisRetur(retur) {
                var utStreng = "<table class='table'><tr><th>Fra</th><th>Til</th><th>Dato</th><th>Tid</th><th>Pris</th><th>Ledige seter</th><th>Velg</th></tr>";
                for (var i in strekninger) {
                    utStreng += "<tr><td>" + strekninger[i].tilFlyplass + "</td><td>" + strekninger[i].fraFlyplass +
                        "</td><td>" + strekninger[i].dato + "</td><td>" + strekninger[i].tid + "</td><td>" + strekninger[i].pris +
                        "</td><td>" + strekninger[i].antallLedigeSeter + "</td><td><button type='button' class='' id='velgKnapp'>Velg</button></td><tr/>";
                }
                utStreng += "</table>"
                $("#returBy").empty().append(utStreng);
            }
        });
    </script>
</head>
<body>
    <!--col-lg-2 col-mg-2-->
    <div class="container">
        <div class="row no-gutters">
            <h1 class="header">Velg din flyreise</h1>
            <div class="selectTil col col-sm-2" id="dropDown1">
                <p>FRA</p>
                <select id="drop1" class="dropdownUtseende knappUtseende"></select>
            </div>
            <div class="selectTil col col-sm-2" id="dropDown2" hidden="hidden">
                <p>TIL</p>
                <select id="drop2" class="dropdownUtseende knappUtseende" disabled></select>
            </div>
            <div id="turDato" class="col col-sm-2" hidden="hidden">
                <p>DATO</p>
                <input id="tilDato" type="date" class="knappUtseende dropdownUtseende" disabled min="2017-10-01"> <!--Må sette inn errormessage-->
            </div>
            <div id="personValg" class="col col-sm-2" hidden="hidden">
                <p>ANTALL VOKSNE</p>
                <select id="antallPersoner" class="knappUtseende dropdownUtseende" disabled>
                    <option name="en">1</option>
                    <option name="to">2</option>
                    <option name="tre">3</option>
                    <option name="fire">4</option>
                    <option name="fem">5</option>
                    <option name="seks">6</option>
                    <option name="syv">7</option>
                    <option name="atte">8</option>
                </select>
            </div>
        </div>
        <div hidden="hidden" id="bekreftetTilFraSted">
            <p>Når ønsker du å reise?</p>
            <div id="strekninger"></div>

            <div id="returDato" class="col col-sm-2" hidden="hidden">
                <p>RETUR-DATO</p>
                <input id="fraDato" type="date" class="knappUtseende dropdownUtseende" disabled min="2017-10-01"> <!--Må sette inn errormessage-->
            </div>

            <button type="button" id="retur" class="knapp" disabled="disabled">Bestill returbiletter</button>
            <button type="button" class="knapp" id="bekreft" disabled="disabled">Bekreft</button>

            

            <div id="returBy"></div>
        </div>
    </div>
</body>
</html>