@{
    ViewBag.Title = "Bestill flybillett";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript">
        $(document).ready(function () {

            // hent alle fraFlyplass, bygg opp dropdown1 når siden lastes

            $.ajax({
                url: '/Home/hentAlleFraFlyplasser',
                type: 'GET',
                dataType: 'json',
                success: function (fraListe) {
                    VisDropDown1(fraListe);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });

            function VisDropDown1(fraListe) {
                var utStreng = "";
                for (var i in fraListe) {
                    utStreng += "<option value='" + fraListe[i] + "'>" + fraListe[i] + "</option>";
                }
                $("#drop1").empty().append(utStreng);
            }

            // opprett en hendelse på dropdown-listen fraFlyplass når siden lastes

            $("#drop1").click(function () {
                var valgtFlyplass = $(this).val();
                $.ajax({
                    url: '/Home/hentTilFlyplasser',
                    type: 'GET',
                    data: { fraFlyPlass: valgtFlyplass },
                    dataType: 'json',
                    success: function (tilListe) {
                        VisDropDown2(tilListe);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });

                $("#drop2").removeAttr("disabled"); 
                $("#dropDown2").show();

            });

            function VisDropDown2(tilListe) {
                var utStreng = "";
                for (var i in tilListe) {
                    utStreng += "<option value='" + tilListe[i] + "'>" + tilListe[i] + "</option>";
                }
                $("#drop2").empty().append(utStreng);
            }

            // opprett en hendelse på dropdown-listen valgtFlyplass når siden lastes
            $("#drop2").click(function () {
                var valgtTilFlyplass = $(this).val();
                var valgtFraFlyplass = $("#drop1").val();


                $.ajax({
                    url: '/Home/hentStrekning',
                    type: 'GET',
                    data: {
                        fraFlyPlass: valgtFraFlyplass,
                        tilFlyPlass: valgtTilFlyplass
                    },
                    dataType: 'json',
                    success: function (strekninger) {
                        VisStrekninger(strekninger);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });

                $("#returKnapp").removeAttr("disabled");
            });

            //funker ikke
            //$(".velgKnapp").click(function () {
            //    $("#returKnapp").removeAttr("disabled");
            //});

            function VisStrekninger(strekninger) {
                var utStreng = "<table class='table'><tr><th>Fra</th><th>Til</th><th>Dato</th><th>Tid</th><th>Pris</th><th>Ledige seter</th><th>Velg</th></tr>";
                for (var i in strekninger) {
                    utStreng += "<tr><td>" + strekninger[i].fraFlyplass + "</td><td>" + strekninger[i].tilFlyplass +
                        "</td><td>" + strekninger[i].dato + "</td><td>" + strekninger[i].tid + "</td><td>" + strekninger[i].pris +
                        "</td><td>antall</td><td><button type='button' class='btn btn-success' id='velgKnapp'>Velg</button></td><tr/>";
                }
                utStreng += "</table>"
                $("#strekninger").empty().append(utStreng);
            }
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div id="dropDown1" class="col col-sm-2">
                Velg fra by:<br />
                <select id="drop1" class="btn btn-primary dropdown-toggle"></select>
            </div>
            <div id="dropDown2" class="col" hidden="hidden">
                Velg til by:<br />
                <select id="drop2" class="btn btn-primary dropdown-toggle" disabled></select>
            </div>
        </div>
    </div>
    Her er valgte mulige fly: <br />
    <div id="strekninger">
    </div>

    <button type="button" id="returKnapp" class="btn success" disabled="disabled">Bestill returbiletter</button>
    <button type="button" class="btn btn-success">Bekreft</button>
</body>
</html>