@{
    ViewBag.Title = "Bestill flybillett";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="@Url.Content("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">
        $(document).ready(function () {

            // hent alle fraFlyplass, bygg opp dropdown1 når siden lastes

            $.ajax({
                url: '/Home/hentAlleFraFlyplasser',
                type: 'GET',
                dataType: 'json',
                success: function (fraListe) {
                    VisDropDown1(fraListe);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });

            function VisDropDown1(fraListe) {
                var utStreng = "";
                utStreng += "<option class='dropdown' value='' selected disabled>Velg</option>";
                for (var i in fraListe) {
                    utStreng += "<option class='dropdown' value='" + fraListe[i] + "'>" + fraListe[i] + "</option>";
                }
                $("#drop1").empty().append(utStreng);
            }

            $("#drop1").change(function () {
                var fraFlyplassVerdi = $(this).val();
                $.ajax({
                    url: '/Home/hentTilFlyplasser',
                    type: 'GET',
                    data: { fraFlyPlass: fraFlyplassVerdi },
                    dataType: 'json',
                    success: function (tilListe) {
                        VisDropDown2(tilListe);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });

                $("#drop2").removeAttr("disabled");
                $("#dropDown2").show();
            });

            function VisDropDown2(tilListe) {
                var utStreng = "";
                utStreng += "<option class='dropdown' value='' selected disabled>Velg</option>";
                for (var i in tilListe) {
                    utStreng += "<option class='dropdown' value='" + tilListe[i] + "'>" + tilListe[i] + "</option>";
                }
                $("#drop2").empty().append(utStreng);
            }

            // opprett en hendelse på dropdown-listen valgtFlyplass når siden lastes
            $("#drop2").change(function () {

                $("#returKnapp").removeAttr("disabled");
                $("#tilDato").removeAttr("disabled");
                $("#turDato").show();
            });

            $("#tilDato").change(function () {

                $("#personValg").show();
                $("#antallPersoner").removeAttr("disabled");
            });

            $("#personValg").change(function () {

                $("#sokReise").show();
                $("#sok").removeAttr("disabled");
            })

            $("#sokReise").click(function () {
                var valgtFraFlyplass = $("#drop1").val();
                var valgtTilFlyplass = $("#drop2").val();
                var valgtDato = $("#tilDato").val();

                $.ajax({
                    url: '/Home/hentStrekning',
                    type: 'GET',
                    data: {
                        fraFlyPlass: valgtFraFlyplass,
                        tilFlyPlass: valgtTilFlyplass,
                        dato: valgtDato
                    },
                    dataType: 'json',
                    success: function (strekninger) {
                        VisStrekninger(strekninger);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });

                $("#bekreftetTilFraSted").show();
                $("#bekreftKnapper").show();
                $("#bekreft").removeAttr("disabled");
                $("#retur").removeAttr("disabled");
                $("#sok").html("Endre søk");
            })

            $("#retur").click(function () {

                $("#returDato").show();
                $("#fraDato").removeAttr("disabled");
                $("#bekreft").hide();
                $("#retur").hide();
            });

            $("#fraDato").change(function () {
                var valgtFraFlyplass = $("#drop1").val();
                var valgtTilFlyplass = $("#drop2").val();

                $.ajax({
                    url: '/Home/hentStrekning',
                    type: 'GET',
                    data: {
                        fraFlyPlass: valgtFraFlyplass,
                        tilFlyPlass: valgtTilFlyplass
                    },
                    dataType: 'json',
                    success: function (retur) {
                        VisRetur(retur);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });

                $("#bekreftetTilFraSted").show();
                $("#bekreft").removeAttr("disabled");
                $("#bekreft").show();
            })

            function VisStrekninger(strekninger) {
                var utStreng = "<form><table class='table'><tr><th>Fra</th><th>Til</th><th>Dato</th><th>Tid</th><th>Pris</th><th>Ledige seter</th><th>Velg</th></tr>";
                for (var i in strekninger) {
                    utStreng += "<tr><td>" + strekninger[i].fraFlyplass + "</td><td>" + strekninger[i].tilFlyplass +
                        "</td><td>" + strekninger[i].dato + "</td><td>" + strekninger[i].tid + "</td><td>" + strekninger[i].pris +
                        "</td><td>" + strekninger[i].antallLedigeSeter + "</td><td><input type='radio' name='velgKnapp' class='' id='velgKnapp'></td><tr/>";
                }//<button type='button' class='' id='velgKnapp'>Velg</button>
                utStreng += "</table></form>"
                $("#strekninger").empty().append(utStreng);
            }

            function VisRetur(retur) {
                var utStreng = "<form><table class='table'><tr><th>Fra</th><th>Til</th><th>Dato</th><th>Tid</th><th>Pris</th><th>Ledige seter</th><th>Velg</th></tr>";
                for (var i in retur) {
                    utStreng += "<tr><td>" + retur[i].tilFlyplass + "</td><td>" + retur[i].fraFlyplass +
                        "</td><td>" + $("#fraDato").val() + "</td><td>" + retur[i].tid + "</td><td>" + retur[i].pris +
                        "</td><td>" + retur[i].antallLedigeSeter + "</td><td><input type='radio' name='velgKnapp' class='' id='velgKnapp'></td><tr/>";
                }
                utStreng += "</table></form>"

                $("#returBy").empty().append(utStreng);
                $("#bekreftetRetur").show();

            }

            //Finner dagens dato og legger til
            var tilDato = document.getElementById("tilDato");

            var idag = new Date();

            var dag = new String(idag.getDate());
            var maned = new String(idag.getMonth() + 1);
            var aar = idag.getFullYear();

            if (dag.length < 2) { dag = "0" + dag; }
            if (maned.length < 2) { maned = "0" + maned; }

            var dato = new String(aar + '-' + maned + '-' + dag);

            tilDato.disabled = false;
            tilDato.setAttribute('min', dato);

        });
    </script>
</head>
<body>
    <!--col-lg-2 col-mg-2-->
    <form action="/Home/Bestill" method="post">

        <div class="container">
            <div class="row no-gutters">
                <h1 class="header">Velg din flyreise</h1>
                <div class="col col-lg-2 col-md-2 col-sm-3 col-xs-6" id="dropDown1">
                    <p>FRA</p>
                    <select id="drop1" class="selectUtseende knappUtseende"></select>
                </div>
                <div class="col col-lg-2 col-md-2 col-sm-3 col-xs-6" id="dropDown2" hidden="hidden">
                    <p>TIL</p>
                    <select id="drop2" class="selectUtseende knappUtseende" disabled></select>
                </div>
                <div id="turDato" class="col col-lg-2 col-md-2 col-sm-3 col-xs-6" hidden="hidden">
                    <p>DATO</p>
                    <input id="tilDato" type="date" onkeydown="return false" class="knappUtseende selectUtseende" disabled>
                </div>
                <div id="personValg" class="col col-lg-2 col-md-2 col-sm-3 col-xs-6" hidden="hidden">
                    <p>ANTALL PERSONER</p>
                    <select id="antallPersoner" class="knappUtseende selectUtseende" disabled>
                        <option name="velg" disabled selected>Velg</option>
                        <option name="en" value="1">1</option>
                        <option name="to" value="2">2</option>
                        <option name="tre" value="3">3</option>
                        <option name="fire" value="4">4</option>
                        <option name="fem" value="5">5</option>
                        <option name="seks" value="6">6</option>
                        <option name="syv" value="7">7</option>
                        <option name="atte" value="8">8</option>
                    </select>
                </div>

                <div id="sokReise" class="col col-lg-2 col-md-2 col-sm-3 col-xs-6" hidden="hidden">
                    <p>...</p>
                    <button type="button" id="sok" disabled="disabled">Søk</button>
                </div>
            </div>
            <div class="row">
                <div hidden="hidden" id="bekreftetTilFraSted">
                    <p>Når ønsker du å reise?</p>
                    <div id="strekninger"></div>
                </div>
            </div>
            <div class="row">
                <div id="returDato" class="col col-lg-2 col-md-2 col-sm-3 col-xs-6" hidden="hidden">
                    <p>RETUR-DATO</p>
                    <input id="fraDato" type="date" onkeydown="return false" class="knappUtseende selectUtseende" disabled">
                </div>

                <div hidden="hidden" id="bekreftetRetur">
                    <p>Når ønsker du å reise tilbake?</p>
                    <div id="returBy"></div>
                </div>
            </div>
            <div class="row">
                <div hidden="hidden" id="bekreftKnapper">
                    <button type="button" id="retur" class="knapp" disabled="disabled">Bestill returbiletter</button>
                    <button type="button" class="knapp" id="bekreft" disabled="disabled">Bekreft</button>
                </div>
            </div>
        </div>

    </form>
</body>
</html>