
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    <style>

        .logoTusimaka {
            margin:  5% 10% 5% 10%;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: #224652;
        }

        #velkommen {
            font-size: 600%;
            letter-spacing: 2.5px;
        }

        #bekreft {
            margin-left:10%;
            margin-bottom: 10%;
        }

    </style>
</head>
<body>
    <div class="">
        <p class="logoTusimaka" id="velkommen">Velkommen til <br/>TUSIMAKA ARILINES</p>
    </div>
    <div>
        <form action="/Home/Bestill">
            <input type="submit" value="Bestill flybillett her!" class="knapp" id="bekreft"/>
        </form>
    </div>
    </body>
</html>

