
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="@Url.Content("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css" />
</head>
<body>

    <h2 id="indextekst">Tusimaka Airlines</h2>
    <div>
        <form action="/Home/Bestill">
            <input type="submit" value="Bestill her!" class="knapp" id="bekreft"/>
        </form>
    </div>
    </body>
</html>

