
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    <style>
        #bekreft {
            margin-top: 5%;
            margin-left:10%;
            margin-bottom: 10%;
        }

    </style>
</head>
<body>
    <div class="">
        <div class="logoTusimaka" id="velkommen">Velkommen til </div>
        <div class="logoTusimaka" id="airlines">TUSIMAKA AIRLINES</div>
    </div>
    <div>
        <form action="/Home/Bestill">
            <input type="submit" value="Bestill flybillett her!" class="knapp" id="bekreft"/>
        </form>
    </div>
    </body>
</html>

