
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
</head>
<body>
        <div class="logoTusimaka" id="velkommen">Velkommen til </div>
        <div class="logoTusimaka" id="airlines">TUSIMAKA AIRLINES</div>
    <div>
        <form action="/Home/Bestill">
            <input type="submit" value="BESTILL" class="knapp" id="bekreftindex"/>
        </form>
    </div>
    </body>
</html>

