@model Tusimaka.Models.Kunde

@{
    ViewBag.Title = "KundeRegistrering";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="@Url.Content("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        function tilbakeKnapp() {
            window.history.back();
        }
    </script>
</head>
<body>
    <h2>Kunderegistrering</h2>

    <form action="" method="post">
            <div class="col-md-10" id="fornavn">
                <p>FORNAVN</p>
                <input id="fornavn" type="text" class="knappUtseende selectUtseende" />
            </div>
            <div class="col-md-10" id="etternavn">
                <p>ETTERNAVN</p>
                <input id="etternavn" type="text" class="knappUtseende selectUtseende" />
            </div>
            <div class="col-md-10" id="kjonn">
                <p>KJØNN</p>
                <select id="velgKjonn" class="knappUtseende selectUtseende">
                    <option name="velg" disabled selected>Velg</option>
                    <option name="mann">Mann</option>
                    <option name="kvinne">Kvinne</option>
                </select>
            </div>
            <div class="col-md-10">
                <button onclick="tilbakeKnapp()" id="tilbake" class="knapp">Tilbake</button>
                <input type="submit" name="registrer" id="registrer" value="Registerer" class="knapp" />
            </div>
    </form>

    @*@using (Html.BeginForm("Bekreftelse", "Home"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Vennligst oppgi informasjon om reisende</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="skjema">
                <div class="form-group">
                    <div class="col-md-10" id="fornavn">
                        <p>FORNAVN</p>
                        <input id="fornavn" type="text" class="knappUtseende selectUtseende" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10" id="etternavn">
                        <p>ETTERNAVN</p>
                        <input id="etternavn" type="text" class="knappUtseende selectUtseende" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10" id="kjonn">
                        <p>KJØNN</p>
                        <select id="velgKjonn" class="knappUtseende selectUtseende" >
                            <option name="velg" disabled selected>Velg</option>
                            <option name="mann">Mann</option>
                            <option name="kvinne">Kvinne</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <button id="tilbake" class="knapp">
                            @Html.ActionLink("Tilbake til bestilling", "Bestill")
                        </button>
                        <input type="submit" name="registrer" id="registrer" value="Registerer" class="knapp"/>
                    </div>
                </div>
            </div>
        </div>
    }*@

    
    </body>
</html>