
@{
    ViewBag.Title = "AdminStart";
}

<h2>Velkommen, admin!</h2>
<h3>Hva vil du gjøre?</h3>
<ul>
    <li>Se databaselogg</li>
    <li>Administrer kunder og bestillinger</li>
    <li>Flyruter</li>
</ul>

